<section id='about'>
  <h2>Who is the Evil Wizard?</h2>
  <ul>
    <li class='active' id='about-myths'><h3>Myths</h3></li>
    <li id='about-allegations'><h3>Allegations</h3></li>
    <li id='about-slander'><h3>Slander</h3></li>
  </ul>
  <ul>
    <li id='about-alchemy'><h3>Alchemy</h3></li>
    <li id='about-artwork'><h3>Artwork</h3></li>
    <li id='about-henchmen'><h3>Henchmen</h3></li>
  </ul>
  <div id='about-text' class='description'>
    <p>The Evil Wizard has officially retired from his career of Super 
      Villainy. His parole officer suggested that he look to his core
      proficiencies and get back to what he was doing before he turned to
      plans of world domination, staged fights with costumed heroes and
      horrendous but hilarious crimes against humanity.</p>
    <p>He agreed with her, smirking in that way of his, and vowed to never
      give up his lifestyle of intoxicating nights, dancing to weird music,
      cavorting with his sordid underlings, and humiliating his henchmen on
      a regular basis.</p>
    <p> After kidnapping a career counsellor and doing a lot of soul
      searching (he never found it), he looked into his dark heart (stored
      in a collapsed mineshaft) and found the things that get him out of bed
      in the afternoon: Death and alcohol. So now, moonlighting as a
      mortician, he has returned to his alchemical background and is
      releasing a line of spirits he is reasonably sure won't murder anyone.</p>
    <p>As loath as he was (and loathsome he is) to share his absinthe, that
      magical elixir which s the source of his nefarious powers and his
      vigorous longevity, he figured that if his customers (he calls them
      dirty "minions") started getting a taste for the depraved nightlife
      and the urge to knock down some weenies in tights, it would just take
      the spotlight away from him for a while.</p>
    <p>He has been making his Evil Wizard Absinthe since 2005 in machines he
      built himself (he always cackles when he says that) and has been
      tweaking the recipe each year. In 2010 the Wizard began developing his
      line of high percentage cocktails from whiskies, rums, gins and vodkas
      that he tested on us poor henchmen. By 2013 they didn't even taste
      gross anymore! Except for the ones that were designed to be gross.
      Don't ask why, we have learned it is simply easier to accept his sick
      sense of humour.</p>
    <p>These days, Mr. Wizard's alchemical chops are in peak form and
      everything coming out of his lab is pretty tasty. He doesn't give a
      damn for inventory control since he drinks most of the product and we
      long suffering henchmen keep ourselves pretty loose and liquid. We
      lost a lot of brothers in our decade long struggles with those capering
      do-gooders prancing around with their square jaws. We have all got PTSD
      at this point and drinking takes the edge off the survivors guilt.
      Henchman #16 still wakes up screaming in the night but his bottle helps.
      Henchman #6 would rather be fighting still, he's a mad dog who doesn't
      understand that this semi-retirement is a gift. We put rum in his
      porridge to keep him from smashing up the place.</p>
    <p>My point is that there is a little excess product and we are offering
      it to you, the minions, for sale. Cash money. It costs a lot to keep
      the secret underground lair operating. The lights don't run on orphan's
      tears anymore, this isn't the eighties.</p>
    <p>- Henchman #27, Head Website Gimp</p>
  </div>
</section>
