<section id='canned'>
  <h2>Canned Cocktails</h2>
  <div class='drinks'>
    <figure>
      <%= image_tag 'drinks/canned-corked/absinthe_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-0',
                    alt: 'Evil Wizard Absinthe Wine Cooler' %>
      <figcaption>Evil Wizard Absinthe Wine Cooler</figcaption>
    </figure>
    <figure>
      <%= image_tag 'drinks/canned-corked/greedy_pirate_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-2',
                    alt: 'Greedy Pirate Ginger Whiskey Flavoured Beverage' %>
      <figcaption>Greedy Pirate Ginger Whiskey Flavoured Beverage</figcaption>
    </figure>
    <figure>
      <%= image_tag 'drinks/canned-corked/voodoo_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-4',
                    alt: 'Baron Samedi\'s Voodoo Juice' %>
      <figcaption>Baron Samedi Voodoo Juice</figcaption>
    </figure>
    <figure>
      <%= image_tag 'drinks/canned-corked/corpse_reviver_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-1',
                    alt: 'Corpse Reviver #5' %>
      <figcaption>Evil Wizard Corpse Reviver #5</figcaption>
    </figure>
  </div>
</section>
