<section id='contact'>
  <h2>Contact</h2>
  <div class='contact'>
    <div id='contact-text' class='description'>
      <h3>Enlist Now!</h3>
      <p>Swell the ranks! The Evil Wizard needs fresh blood. (A+ and O+
        preferred). We are always accepting applications:</p>
      <ul>
        <li><span>Henchmen</span> - Life expectancy 15 years, highest in
          the business.</li>
        <li><span>Sordid Underlings</span> - Complimentary booty shorts
          provided.</li>
        <li><span>Acolytes</span> - Please include your mystical affiliations
          and esoteric educational background.</li>
        <li><span>Emissaries</span> - Alcohol sales reps preferred, NLP and
          hypnosis training provided.</li>
        <li><span>Minions</span> - Thanks for your money. Now scram before we
          hook you up to one of these infernal machines and we see what you're
          made of.</li>
      </ul>
      <p>No former sidekicks. Heroism will not be tolerated. Evil Wizard
        Elixirs is committed to employment equity, but we have already hired
        our quota of clowns and Juggalos.</p>
    </div>
    <div class='contacts'>
      <h3>email</h3>
      <p>Send your CV with complete list of evil deeds, weird powers, and
        past villain bosses. Include head shots, body measurements, naughty
        pictures and email to</p>
      <p><a href='mailto:enlist@EWElixers.ca'>enlist@EWElixirs.ca</a></p>
    </div>
    <div class='contacts'>
      <h3>phone</h3>
      <p>Pleas for mercy may be whimpered into your phone by calling</p>
      <p><a href='tel://16476333845'>1-647-ODD-EVIL</a></p>
      <p>Calls will be recorded for entertainment value.</p>
    </div>
    <div class='contacts'>
      <h3>address</h3>
      <p>Unwed mothers, honorary degrees and sacrificial lambs may be shipped to:</p>
      <address>Evil Wizard Elixirs<br> 
        6267 Casgrain St.<br> 
        Montreal, Quebec<br>
        Canada H2S 2Z2</address>
    </div>
  </div>
</section>
