<section id='corked'>
  <h2>Corked Spirits</h2>
  <div class='drinks'>
    <figure>
      <%= image_tag 'drinks/canned-corked/absinthe_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-0',
                    alt: 'Evil Wizard Absinthe Wine Cooler' %>
      <figcaption>Evil Wizard Absinthe</figcaption>
    </figure>
    <figure>
      <%= image_tag 'drinks/canned-corked/greedy_pirate_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-2',
                    alt: 'Greedy Pirate Ginger Whiskey Flavoured Beverage' %>
      <figcaption>Greedy Pirate Ginger Whiskey</figcaption>
    </figure>
    <figure>
      <%= image_tag 'drinks/canned-corked/mad_cow_150.jpg',
                    class: 'drink',
                    id: 'canned-corked-3',
                    alt: 'Mad Cow Caynne Chai Creme' %>
      <figcaption>Mad Cow Cayenne Chai Creme</figcaption>
    </figure>
  </div>
</section>
