<section class='flex' id='home'>
  <div class='img'>
    <img class='wizard' src='http://placehold.it/200x300'>
  </div>
  <div id='info'>
    <h2>service with a sneer</h2>
    <p>At Evil Wizard Elixirs we are committed to one thing. <span>Evil.</span><br>
      <span>Evil</span> is the guiding principle of our visionary bossman and retired
      super villian, <span><a href=''>The Evil Wizard</a></span>.</p>
    <h2>put the Evil inside you!</h2>
  </div>
</section>
