<section id='purchase'>
  <h2>Purchase</h2>
  <div id='purchase-text' class='description'>
    <p>Well, here's the thing. Our products are somewhere between a secret
      brand and something that doesn't exist yet. Mr. Wizard is currently
      negotiating with a variety of craft distillers and brewers across Canada
      to determine where to build his new base.</p>
    <p>He doesn't want to use his own 25 foot fractionating reflux distiller
      because he absolutley can not stand having inspectors in his secret lair.
      Also it's filthy. Spiders and bats and racoons in the rafters, and under
      the ground, some rather nasty ROUSSs.</p>
    <p> The Wizard is not big on human rights, much less workplace safety.
      We used to do facility tours for that quick tourism cash and the hard
      sale for the bottles, but that all ended when the ground opened up and
      swallowed the entire group. Our sandworm has a taste for yankee flesh.
      Point is, it's just easier if our Inglorious Leader does the proper
      paperwork, buys off the relevant officials, and does his alcoholic
      apostlery in a pre-approved facility.</p>
    <div id='newsletter'>
      <p>In the meantime, you can <a href='#contact'>contact the Wizard</a> directly or
        enter your email to be informed when the online shop is open for business.
      <div>
        <input type='email' id='purchase-email' placeholder='email address'>
        <input type='button' id='purchase-submit' value='add me'>
      </div>
      </p>
    </div>
  </div>
</section>
