<footer>
  <div class='copyright'>
    <p>©<%= Time.now.year %> <span><%= Refinery::Core.site_name %></span>.</p>
    <p>Website by <a href='http://sy.sytantris.com'>Sytantris Dyat</a>.</p>
    </p>
  </div>
</footer>
