<div id='overlay'></div>

<div class='modal' id='condemned-modal'>
  <div class='back'><span>X</span></div>
  <div class='modal-container'>
    <div class='modal-image-container'>
      <a class='modal-image' id='condemned-modal-link' target='_blank'><img class='modal-image' id='condemned-modal-image'></a>
    </div>
    <div class='modal-text description' id='condemned-modal-text'>
      <h3>Evil Wizard's This or That</h3>
      <p>Blah blah blah blah blah.</p>
    </div>
  </div>
</div>

<div class='modal' id='current-modal'>
  <div class='back'><span>X</span></div>
  <div class='modal-container'>
    <div class='modal-image-container'>
      <a class='modal-image' id='current-modal-link' target='_blank'><img class='modal-image' id='current-modal-image'></a>
    </div>
    <div class='modal-text description' id='current-modal-text'>
      <h3>Evil Wizard's This or That</h3>
      <p>Blah blah blah blah blah.</p>
    </div>
  </div>
</div>
